<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vuelos Creados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <h1><i class="fas fa-list"></i> Vuelos Creados</h1>
        <div class="list-group">
            {% for vuelo in vuelos %}
            <form method="POST" action="{{ url_for('editar_vuelo', id=vuelo.id) }}" class="list-group-item">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" name="origen" value="{{ vuelo.origen }}" required>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="destino" value="{{ vuelo.destino }}" required>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" name="fecha" value="{{ vuelo.fecha }}" required>
                    </div>
                    <div class="col">
                        <input type="time" class="form-control" name="hora_salida" value="{{ vuelo.hora_salida }}" required>
                    </div>
                    <div class="col">
                        <input type="time" class="form-control" name="hora_llegada" value="{{ vuelo.hora_llegada }}" required>
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" name="precio" value="{{ vuelo.precio }}" required>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
                    </div>
                </div>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>